.background{
    -fx-background-color: rgb(5,67,98);
}

.text-title{
    -fx-text-fill: #ffffff;
    -fx-font-size: 12pt;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-text-align: center;
}

.textfield-input, .text-label, .btn-action{
    -fx-text-fill: #ffffff;
}

.text-label{
    -fx-font-size: 10pt;
    -fx-font-family:  sans-serif;
    -fx-font-weight: bold;
}

.btn-action{
    -fx-background-color: rgb(0,102,102);
}